<html>
<form action="http://localhost:3000/user_details">
	Enter UserName<br>
	<input type="text" name="username"><br>
	Enter OTP<br>
	<input type="text" name="OTP">
	<br>
	<input type="submit" name="submit">
	<br>
</form>
</html>
